# Solution

In [1]:
from solution import *
import pandas as pd

In [2]:
train_x = pd.read_csv("train_x.csv")
train_x_2D = train_x.drop("area_id", axis=1)

train_y = pd.read_csv("train_y.csv")

In [3]:
df = undersampleCluster(train_x_2D, train_y, 0.5, 4)

c:\Users\ronan\miniconda3\Lib\site-packages\joblib\externals\loky\backend\context.py:136: UserWarning: Could not find the number of physical cores for the following reason:
found 0 physical cores < 1
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\Users\ronan\miniconda3\Lib\site-packages\joblib\externals\loky\backend\context.py", line 282, in _count_physical_cores
    raise ValueError(f"found {cpu_count_physical} physical cores < 1")

In [4]:
df

[           lon      lat       pm25  Cluster
 9331   0.85875  0.36125   7.965749        0
 1173   0.59250  0.26750   2.176662        0
 1427   0.89375  0.13625  14.865096        0
 12453  0.63500  0.09500  22.452088        0
 9303   0.67750  0.36500  48.417377        0
 ...        ...      ...        ...      ...
 11199  0.83500  0.32750   5.115907        0
 9099   0.63875  0.14875  24.159107        0
 4122   0.70250  0.25625   7.178782        0
 4917   0.74500  0.01875  12.104880        0
 11167  0.70875  0.22125  27.612443        0

 [1300 rows x 4 columns],
            lon      lat       pm25  Cluster
 9670   0.03375  0.54500   7.817763        1
 5742   0.11125  0.00000  -0.655083        1
 14877  0.36375  0.27250  26.478062        1
 10995  0.31500  0.33500  29.061183        1
 9928   0.11125  0.13375   2.864207        1
 ...        ...      ...        ...      ...
 8146   0.09500  0.37250  52.495853        1
 6541   0.11750  0.47750  35.943113        1
 6787   0.27000  0.00375   5.646446        1
 10496  0.16250  0.35000   7.518293        1
 13370  0.05500  0.25500  55.371473        1

 [1649 rows x 4 columns],
            lon      lat       pm25  Cluster
 6263   0.88750  0.71875  46.797356        2
 14145  0.75750  0.65125  37.396726        2
 1006   0.86000  0.61750  45.085033        2
 9824   0.65875  0.81125  56.065974        2
 12448  0.68625  0.67750  23.812833        2
 ...        ...      ...        ...      ...
 9623   0.74000  0.90875  39.491661        2
 2749   0.89000  0.63000  46.377195        2
 13720  0.67750  0.86500  19.269404        2
 9563   0.69625  0.55875  23.084222        2
 13728  0.56125  0.66375  10.535038        2

 [1896 rows x 4 columns],
            lon      lat       pm25  Cluster
 13155  0.34750  0.90000  43.438631        3
 3391   0.46250  0.99250   6.475102        3
 14458  0.37250  0.91125  60.098436        3
 12636  0.15500  0.60375  15.635131        3
 5233   0.40125  0.86375  47.639869        3
 ...        ...      ...        ...      ...
 7530   0.08875  0.95000   3.289312        3
 9432   0.15500  0.96500   9.775988        3
 11466  0.30250  0.87750  56.496228        3
 13410  0.19750  0.65875  26.527133        3
 4111   0.35125  0.81125  60.641235        3

 [2749 rows x 4 columns]]

In [4]:
train_x_2D_reduced = df.drop("pm25", axis=1)
train_y_reduced = df["pm25"]

In [6]:
model = Model()
model.fitting_model(train_y_reduced, train_x_2D_reduced)

c:\Users\ronan\miniconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
c:\Users\ronan\Documents\University\3.ETH\MA1\Probabilistic Artificial Intelligence\Project-Group\Project01\solution.py:271: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  reducedData = pd.concat([reducedData, reducedCluster], axis=0)

In [7]:
model.gp.log_marginal_likelihood_value_

3254.7965762468175

In [10]:
model.gp.score(train_x_2D, train_y)

0.9926776672672943

In [4]:
model.best_kernel

Matern(length_scale=0.0548, nu=1.5) + WhiteKernel(noise_level=0.00534)